---
import { Center, Container } from "styled-system/jsx";
import "../index.css";

const { lang } = Astro.props;
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Reproduction Test</title>
  </head>
  <body>
    <Container>
      <Center>
        <slot />
      </Center>
    </Container>
  </body>
</html>
